In [4]:
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
# 输出一个cel中的全部变量
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
# %matplotlib  
%matplotlib inline

In [5]:
data1 = pd.read_csv('Table 1.csv')
data2 = pd.read_csv('zqazqazqa.csv')
data2

    mean_factor  eigenvalue  Proportion  Cumulative
0             1     6.65600    36.97700      36.977
1             2     2.05700    11.42900      48.406
2             3     1.68000     9.33200      57.738
3             4     1.42400     7.91400      65.652
4             5     1.31800     7.32200      72.974
5             6     0.95500     5.30300      78.277
6             7     0.84300     4.68500      82.962
7             8     0.77700     4.31500      87.277
8             9     0.60700     3.37400      90.651
9            10     0.56900     3.16000      93.811
10           11     0.30900     1.71600      95.527
11           12     0.26800     1.48800      97.015
12           13     0.17000     0.94400      97.959
13           14     0.15000     0.83500      98.794
14           15     0.12800     0.71100      99.505
15           16     0.04900     0.27200      99.777
16           17     0.02717     0.15100      99.928
17           18     0.01380     0.07668     100.000

In [21]:
plt.figure(figsize=(23,6))
plt.bar(data1['City'],data1['Surviving Enterprises'])

In [10]:
x = np.arange(5)
x

array([0, 1, 2, 3, 4])

In [23]:

total_width, n = 0.8, 3
width = total_width / n
index = np.arange(len(data2['City']))
ax = plt.subplot(111, projection='3d')
# 柱状图
# plt.bar(data2['City'], data2['QNE'],  width=width, label='QNE')
# plt.bar(index+width, data2['QSE'], width=width, label='QSE')
# plt.bar(index+2*width, data2['QCE'], width=width, label='QCE')
# plt.legend()

# 散点图
ax.scatter(data2['QNE'],data2['QSE'],data2['QCE'],c='r')
ax.set_zlabel('QNE')  # 坐标轴
ax.set_ylabel('QSE')
ax.set_xlabel('QCE')
plt.show()

Text(0.5, 0, 'QNE')

Text(0.5, 0, 'QSE')

Text(0.5, 0, 'QCE')

### 标题

$$
A_{m,n} = 
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
  \vdots  & \vdots  & \ddots & \vdots  \\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n} 
 \end{pmatrix}
$$

In [28]:
# 数据集
data = pd.read_csv("year.csv")
print(data.head())
# 绘画折线图
plt.figure(figsize=(10,6))
plt.plot(data["year"],data["population"],label='population', marker='o')
plt.xlabel("year") #xlabel、ylabel：分别设置X、Y轴的标题文字。
plt.ylabel("population")
# 显示
plt.show()

   year  population
0  2018     2332730
1  2017     2337353
2  2016     2341726
3  2015     2355017
4  2014     2343357

Text(0.5, 0, 'year')

Text(0, 0.5, 'population')