In [1]:
# 函数和类

In [6]:
def printValue(name = "ycc",v1 = 2):
    print(v1);
    print(name)
    return 222,222

printValue(name="ycl",v1 = 33333)
index,bb = printValue()
print(index,bb)

33333
ycl
2
ycc
222 222

In [7]:
print(__name__)

__main__

In [12]:
def print_enum():
    seasons= ['Spring', 'Summer', 'Fall', 'Winter']
    return enumerate(seasons)
for i,val in print_enum():
    print(i,val)

0 Spring
1 Summer
2 Fall
3 Winter

In [21]:
class Employee:
   '所有员工的基类'
   empCount = 0
 
   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount) 
 
   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary) 
 

em1 = Employee("ycc",233)
em1.displayEmployee()

Name :  ycc , Salary:  233