In [6]:
# 主要展示pandas的使用
import numpy as np
import pandas as pd

In [140]:

a = pd.DataFrame(np.array([
    [0,1,2,3,np.nan],
    [0,4,2,3,np.nan],
    [0,6,2,2,4],
    [0,1,2,5,7],
]),columns=["A","B","C","D","E"])
print(a)
print(a.columns,"\n") # a的列名
print(a.index,"\n") # 行名
print(a.loc[1:3,["A","E"]],"\n") #按标签索引
print(a.loc[1:3,"A":"E"],"\n")
print(a.loc[1:3,"A"],"\n")

     A    B    C    D    E
0  0.0  1.0  2.0  3.0  NaN
1  0.0  4.0  2.0  3.0  NaN
2  0.0  6.0  2.0  2.0  4.0
3  0.0  1.0  2.0  5.0  7.0
Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

RangeIndex(start=0, stop=4, step=1)

     A    E
1  0.0  NaN
2  0.0  4.0
3  0.0  7.0

     A    B    C    D    E
1  0.0  4.0  2.0  3.0  NaN
2  0.0  6.0  2.0  2.0  4.0
3  0.0  1.0  2.0  5.0  7.0

1    0.0
2    0.0
3    0.0
Name: A, dtype: float64

In [126]:
a.drop_duplicates(subset=["D"]) #D 列去重

     A    B    C    D    E
0  0.0  1.0  2.0  3.0  NaN
2  0.0  6.0  2.0  2.0  4.0
3  0.0  1.0  2.0  5.0  7.0

In [64]:
aa = a.drop_duplicates(subset=["D"],inplace=False)
a.info() # 显示一列中有几个不缺失的值
a.isnull().sum()/4 # 查看缺失比例
print(a["E"].mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      float64
 2   C       4 non-null      float64
 3   D       4 non-null      float64
 4   E       2 non-null      float64
dtypes: float64(5)
memory usage: 288.0 bytes
5.5

In [81]:
a_notnull = a.fillna(a["E"].mean(),inplace=False)

In [127]:
a2 = pd.DataFrame(np.array([
    [0,1,2,3,np.nan],
    [0,4,2,3,np.nan],
    [0,5,2,3,np.nan],
    [0,4,2,3,np.nan],
    [0,6,2,2,4],
    [0,1,2,5,7],
]),columns=["A","B","C","D","E"])
a2

     A    B    C    D    E
0  0.0  1.0  2.0  3.0  NaN
1  0.0  4.0  2.0  3.0  NaN
2  0.0  5.0  2.0  3.0  NaN
3  0.0  4.0  2.0  3.0  NaN
4  0.0  6.0  2.0  2.0  4.0
5  0.0  1.0  2.0  5.0  7.0

In [128]:
a2 = a2.drop_duplicates() # 去重
# a2.index = np.arange(a2.shape[0])
a2

     A    B    C    D    E
0  0.0  1.0  2.0  3.0  NaN
1  0.0  4.0  2.0  3.0  NaN
2  0.0  5.0  2.0  3.0  NaN
4  0.0  6.0  2.0  2.0  4.0
5  0.0  1.0  2.0  5.0  7.0

In [132]:
a2.index = np.arange(a2.shape[0]) # 恢复索引
a2.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')